@model List<CourseWorkMain.Models.ViewModels.Stats>
<div>
    @*    <p>MedianBudgets:  @Html.DisplayFor(m => m.Median)</p>
    <p>MeanBudgets: @Html.DisplayFor(m => m.Mean)</p>
    <p>MaxBudgets: @Html.DisplayFor(m => m.Max)</p>
    <p>MinBudgets: @Html.DisplayFor(m => m.Min)</p>*@

    <table class="table" border="1">
        <thead>
            <tr><th>Median</th><th>Mean</th><th>Max</th><th>Min</th></tr>
        </thead>
        <tbody>
            @foreach (var s in Model)
            {
                <tr><td>@s.Median</td><td>@s.Mean</td><td>@s.Max</td><td>@s.Min</td></tr>
            }
        </tbody>
    </table>
    @Html.ActionLink("Назад", "Index", "Home")
</div>